<div class="form-container">
	<h2>Sign Up</h2>
	<p>Already have an account? <a href="/login" class="cta">Login Here</a></p>

	<form class="form" action="/register" method="post">
		<section class="input-block">
			<label for="name">Name:</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Type your name here..."
				autofocus
				required
			>
		</section>
	
		<section class="input-block">
			<label for="email">Email:</label>
			<input 
				type="email"
				name="email"
				id="email"
				placeholder="Type your email here..."
				autofocus
				required
			>
		</section>
	
		<section class="input-block">
			<label for="password">Password:</label>
			<input 
				type="password"
				name="password"
				id="password"
				placeholder="Type your password here..."
				autofocus
				required
			>
		</section>
		<%- include('./partials/errorMessage.ejs') %>
	
		<button class="form-btn" type="submit">Sign Up</button>
	
	</form>
</div>
